.App {
  min-height: 600px;
  height: 100vw;
  width: 100vw;
}

.cabecalho{
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color:rgb(237, 245, 250);
  height: 50px;
  .logo {
    margin-top: 3px;
    padding-left: 20px;
    width: auto;
    height: 50px;
    display: flex; /* Alinha img e h3 lado a lado */
    align-items: center;
    gap: 10px; /* Espaçamento entre a img e o h3 (ajuste conforme necessário) */
    .icon_logo {
      width: 50px;
      height: 50px;
    }
    .h3{
      color: rgb(18, 175, 0);
      margin-top: 15px;
    }
  }
}


.botoes {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.botoes button {
  width: 70vw;
  max-width: 400px;
  padding: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.botoes button:hover {
  background-color:#004691;
}