.login-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-container h2 {
  color: #00A335;
}
.form-group {
  margin-bottom: 5px;
  width: 70vw;
  max-width: 400px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}
.form-group input {
  height:10px;
  width: 60vw;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}
button[type="submit"] {
  margin-top: 40px;
  width: 60vw;
  max-width: 400px;
  padding: 20px;
  background-color: #a8c9b33d;
  color: #00A335;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #00A335;
  color: white;
}

.back-button {
  margin-top: 100px;
  width: 40vw;
  max-width: 100px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  

  font-size: 0.8rem;
  cursor: pointer;
  .back-button-img{
    width: 30px;
    height: 30px;
  }
  .h3{
    font-size: 0.7rem;
  }
}
