.login-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-container h2 {
  color: #007bff;
}
.form-group {
  margin-bottom: 5px;
  width: 70vw;
  max-width: 400px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}
.form-group input {
  width: 70vw;
  max-width: 350px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
}
button[type="submit"] {
  margin-top: 40px;
  width: 70vw;
  max-width: 400px;
  padding: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #004691;
}
  