.corpo{
    height: 100vh;
    overflow: auto; 
    place-items:center;
    .perfil{
        background-color: white;
        width: 100%;
        padding-top: 10px;
        .img-perfil{
            display: block;
            margin: auto;
            width: 70px;
        }
        h1{
            font-size: 1.2em;
            text-align: center;
            text-transform: uppercase;
        }
    }
}
hr{
    width: 90%;
  }
h2{
    text-align: left;

}
.medicamento-card {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    .med-nome {
        font-weight: bold;
        font-size: 1.1rem;
        margin: 0;
        color: #333;
    }
    .med-desc {
    font-size: 0.95rem;
    color: #666;
    margin-top: 4px;
    }
    .bt{
        font-size: 10px;
        border-radius: 50px;
        border-style: solid;
        background-color: rgb(255, 255, 255);
        color: red;
        padding: 10px;
    }
    .bt:hover{
        background-color: red;
        color: white;
    }
}