<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmaVig</title>
    <link rel="stylesheet" href="/frontend/src/styles.css">
    <link rel="stylesheet" href="./paciente.component.css">
    
</head>
<body>
  <div class="cabeçalho">
    <img src="../farma-vig/logo.jpg" alt="logo">


  </div>

    
  <div class="corpo">
    <img src="assets/imagens/logo.png" alt="Logo">
    <div class="title">
      <h1>Maria Silva </h1>
    </div>

    <div class="list-medicamentos">
      <h2>Medicamentos:</h2>
      
      <div class="medicamento-x">
        <h3>Nolvadex-D 20mg</h3>
        <p>
          Comprimidos revestidos de 20 mg em embalagens.
          Deve ser mantido em temperatura ambiente (15ºC a 30ºC).
          <strong> Dose única diária </strong>
        </p>
        <div class="bt">
          <button class="bt-paciente" id="solicitar">solicitar mais</button>
          <button class="bt-paciente" id="informar">efeitos colaterais</button>
        </div>
      </div>
      

      <div class="medicamento-x">
        <h3>Nome</h3>
        <p>dados do medicamento</p>
        <div class="bt">
          <button class="bt-paciente" id="solicitar">solicitar mais</button>
          <button class="bt-paciente" id="informar">efeitos colaterais</button>
        </div>
      </div>

      <div class="medicamento-x">
        <h3>Nome</h3>
        <p>dados do medicamento</p>
        <div class="bt">
          <button class="bt-paciente" id="solicitar">solicitar mais</button>
          <button class="bt-paciente" id="informar">efeitos colaterais</button>
        </div>
      </div>

      <div class="medicamento-x">
        <h3>Nome</h3>
        <p>dados do medicamento</p>
        <div class="bt">
          <button class="bt-paciente" id="solicitar">solicitar mais</button>
          <button class="bt-paciente" id="informar">efeitos colaterais</button>
        </div>
      </div>
    
    </div>

  </div>


</body>
</html>