<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmaVig</title>
    <link rel="stylesheet" href="/frontend/src/styles.css">
    <link rel="stylesheet" href="./paciente.component.css">
    
</head>
<body>
  <div class="cabeçalho">
    <img src="assets/logofarmaco.png" alt="logo">
  </div>

    
  <div class="corpo">
    <div class="perfil">
      <img class="img-perfil" src="assets/perfil.png" alt="Logo">
      <h1>Nome do paciente</h1>
    </div> <!-- Fim da div.class="perfil"-->
    <hr>

    <h2>Medicamentos:</h2>

    <div *ngFor="let medicamento of listaMedicamentos" class="medicamento-card">
      <p class="med-nome">{{ medicamento.nome }}</p>
      <p class="med-desc">{{ medicamento.descricao }}</p>
      <button class="bt" 
      (click)="informarEfeitoColateral(medicamento.nome)">Informar Efeitos Colaterais</button>
    </div>
    
  </div> <!-- Fim da div.class="corpo"-->


</body>
</html>