<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmaVig</title>
    <link rel="stylesheet" href="/frontend/src/styles.css">
    
</head>
<body>
    <div class="corpo">
      <div class="title">
        <img src="assets/logo.png" alt="Logo">
        <h1>FarmaVig</h1>
        <hr>
      </div>
      
      <div class="box-opt">
        <button class="paciente" (click)="goToPaciente()">Paciente</button>
        <button class="medico" (click)="goToMedico()">Médico</button>
        <button class="farmacia" (click)="goToFarmacia()">Farmácia</button>
      </div>
    </div>


</body>
</html>