.title{
    display: block;
    img{
        display: block;
        margin: auto;
        width: 200px;
    }
}

.box-opt {
    display: flex;
    flex-direction: column; /* Organiza os botões em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}
button{
    margin: auto;
    width: 80%;
    max-width: 400px;
    height: 100px;
    padding: 30px;
    border-style: none;
    background-color:#3E90CB;
    border-radius: 20px;
    font-size: large;
    text-transform: uppercase;
    color: aliceblue;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
button:hover{
    background-color: rgb(0, 54, 0);
}